#canvas-container {
  padding-bottom: 480px;
  padding-right: 640px;
}

.canvas-img {
  position: absolute;
  left: 0px;
  top:  0px;
  border: lavender solid;
}

.canvas-img-stamp {
  position: absolute;
}

#canvas {
  position: absolute;
  left: 0px;
  top:  0px;
  border: lavender solid;
  cursor: none;
}

#tools-container {
  text-align: center;
  margin-top: 10px;
  width: 640px;
}

ul#tools {
  padding: 0;
}

ul#tools > li {
  padding: 0;
  margin-left:  40px;
  margin-right: 40px;
  list-style-type: none;
  display: inline;
}

img.tool {
  height: 48px;
  width:  48px;
  cursor: pointer;
}

#cursor-image {
  position: absolute;
}

#small {
  display: none;
}

#canvas-stamp-maker {
  display: none;
}

img.stamp-img {
  cursor: pointer;
  border: solid lavender;
}

#stamp-maker {
}

#stamp-history {
  list-style-type: none;
  padding-left: 0px;
  width: 640px;
}

ul#stamp-history > li {
  display: inline;
}

#muc-container {
  position: absolute;
  left: 640px;
  top: 0px;
  margin-left: 10px;
}